# Terraform files
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example
!environments/*/terraform.tfvars
.terraform/
.terraform.lock.hcl
crash.log
crash.*.log
terraform.tfplan

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo
*~
